{% extends 'base.html'%}
{% block body%}
<div class="my-4 mx-4 container">
    <form method="GET">
<div class="form-group row">
    <label for="comment_text" class="col-sm-2 col-form-label">comment</label>  
    <div class="col-sm-10">
        <input type="text" class="form-control" id="comment_text" name="comment">
        
    </div>
</div>
<button type="submit" class="btn btn-primary">Done</button>
</form>
</div>

<div class="container my-4 mx-4">

    <div class="card">
        <div class="card-header">
          username
        </div>
        <div class="card-body">
            
        <blockquote class="blockquote mb-0">
            <h5 class="card-title">Special title treatment</h5>
          <p> comment</p>
          
          <footer class="blockquote-footer">Duration<cite title="source title">source title</cite></footer>
        </blockquote>
        </div>
      </div>

</div>

{% endblock%}


